<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Étmo Reis | Desenvolvedor Python</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>Étmo Reis</h1>

    <nav>
        <a href="/">Início</a>
        <a href="/projetos">Projetos</a>
        <a href="/contatos">Contato</a>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h2>Étmo Reis</h2>
            <p>Desenvolvedor focado em transformar ideias em soluções reais com Python & Web.</p>
            
            <!-- BOTÕES -->
            <a href="/contatos" class="btn">Fale comigo</a>
            <a href="/projetos" class="btn">Meus Projetos</a>
        </div>

        <div class="hero-img">
            <!-- Fundo glow estilo Python -->
            <div class="img-bg"></div>
            <!-- Sua foto -->
            <img src="/static/minha_foto.png" alt="Foto Étmo">
        </div>
    </div>
</section>

<section class="sobre">
    <h2>Sobre mim</h2>
    <p>
        Sou um desenvolvedor iniciante focado em criar soluções práticas com Python e Flask.
        Estou constantemente aprendendo e desenvolvendo projetos reais para evoluir minhas habilidades.
    </p>
</section>

<section class="skills">
    <h2>Habilidades</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>HTML & CSS</li>
        <li>Git & GitHub</li>
    </ul>
</section>

<footer>
    <p>© 2026 - Étmo Reis </p>
</footer>

</body>
</html>